.Showcase {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #ccc url(img/showcase_back.jpeg) no-repeat center center / cover;
    color: #fff;
}

.Search {
    margin-top: 30px;
    background-color: $color-yellow;
    padding: $gutter;
    box-shadow: 0 10px 30px rgba(black, .2);

    &-form {
        position: relative;
        display: flex;
        flex-direction: column;

        &-item {
            & + & {
                margin-top: 20px;
            }
        }
    }
    .for-work {
        margin-top: 10px;
    }
    
}
